<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628f7b">  <td>17/04/04 16:52:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.init()[pri:0, instance:test.SoftwareAutorizationTest@1afd44cb]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728115831</td>   <td></td> </tr>
<tr bgcolor="9f8c73">  <td>17/04/04 16:53:02</td>   <td>3682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SoftwareAutorizationTest.checkRegistrationTest()[pri:0, instance:test.SoftwareAutorizationTest@1afd44cb]">checkRegistrationTest</td> 
  <td>main@728115831</td>   <td></td> </tr>
<tr bgcolor="628f7b">  <td>17/04/04 16:54:21</td>   <td>82434</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:test.SoftwareAutorizationTest@1afd44cb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728115831</td>   <td></td> </tr>
</table>
